@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Mochiy+Pop+One&display=swap");

:root {
  --Primary-Font: "Mochiy Pop One";
  --Secondary-Font: "Hachi Maru Pop";
}

::-webkit-scrollbar {
  display: none;
}

* {
  font-family: var(--Primary-Font);
}

body {
    background-color: #242529;
}
